
.image {
    width: 500px;
    height: 650px;
    background-image: url("../images/Money rules.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 10px;
    transition: all ease-in-out 0.5s;

}

.image:hover {
    background-image: url("../images/house.jpg");


}